SetEnv SRV_DB_HOST "127.0.0.1"
SetEnv SRV_DB_PORT 3306
SetEnv SRV_DB_USER root
SetEnv SRV_DB_PASS 123456
SetEnv SRV_DB_NAME ot_com

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>