.item-wrap{
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.item-wrap form{
	width:100%;
}

.item-wrap form:hover .cat-wrap input {
	background-color:#E7E7E7;
}

.item-wrap .order-wrap{
	float:left;
	display: block;
	margin-top:4px;
}
.item-wrap .order-wrap input{
	width:25px;
}



.item-wrap .cat-wrap{
	margin-top:4px;
	width:auto;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.item-wrap .order-wrap input{
	text-align:center;
}

.item-wrap .edit-wrap{
	float:right;
	padding:0 10px 0 0;
	margin-top:4px;
	width:auto;
}

.item-wrap .item-child{
	margin:0;
	padding:0;
	float:left;
	display:block;
	width:100%;
}

.item-wrap .item-wrap{
	padding: 0 0 0 43px;
}

.item-child{
	background-image: url(/Public/Admin/images/my/line.png);
	background-repeat: repeat-y;
	background-position: 22px 0;
}

.item-wrap .fold{
	background-image: url(/Public/Admin/images/my/zTreeStandard.png);
	background-repeat: no-repeat;
	background-position: 22px -19px;
}	

.selectwrap{
	display: block;
	display: none;
	margin-top:4px;
	border: 1px solid #ccc;
	padding:4px 8px;
	background-color: #fff;
}

.selectwrap > div{
	width:100%;
	float: left;
	display: block;
}

.selectwrap > div div{
	padding-left: 10px;
	width:100%;
	float: left;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.selectwrap span{
	width: 100%;
	display: block;
	float:left;
	background-color: #ddd;
}

.selectwrap span.islast{
	background-color: #fff;
}

.selectwrap span.islast:hover{
	cursor: pointer;
	background-color: #ffe8cc;
}


/*******************************************************************************/
.form-wrap a{
	display: inline-block;
	margin: 0 5px;
}
.productcategory *{
	text-align: center !important;
}