.item-wrap{
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.item-wrap form{
	width:100%;
}

.item-wrap form:hover .cat-wrap input {
	background-color:#E7E7E7;
}

.item-wrap .order-wrap{
	float:left;
	display: block;
	margin-top:4px;
}

.item-wrap .cat-wrap{
	margin-top:4px;
	width:auto;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}

.item-wrap .order-wrap input{
	text-align:center;
}

.item-wrap .edit-wrap{
	float:right;
	padding:0 10px 0 0;
	margin-top:4px;
	width:auto;
}

.item-wrap .item-child{
	margin:0;
	padding:0;
	float:left;
	display:block;
	width:100%;
}

.item-wrap .item-wrap{
	padding: 0 0 0 50px;
}

.item-child{
	background-image: url(/Public/Admin/images/my/line.jpg);
	background-repeat: repeat-y;
	background-position: 22px 0;
}

.item-wrap .fold{
	background-image: url(/Public/Admin/images/my/zTreeStandard.jpg);
	background-repeat: no-repeat;
	background-position: 22px -19px;
}	

select span{
	padding-left: 20px;
}