<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$pageTitle}</title>

    <link type="text/css" href="__CSS__/base.css" rel="stylesheet">
    <block name="style"></block>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="__STATIC__/bootstrap/js/html5shiv.js"></script>
	<![endif]-->
    <!--[if lt IE 9]>
		<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
	<![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
</head>

<body>
    <div id="header">
        <a class="logo" href="/"> </a>
        <ul class="main_nav">
            <li>
                <a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
            </li>
            <li>
                <a href="{:U('whoWeAre')}">品牌介绍</a>
            </li>
            <li>
                <a href="{:U('howWeWork')}">品牌详情</a>
            </li>
            <li>
                <a href="{:U('whereWeAre')}">品牌来源</a>
            </li>
        </ul>
        <div class="social_icon">
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
            <a href="javascript:;"></a>
        </div>
    </div>

    <div id="main">
        <div class="cf"></div>
        <block name="body"></block>
        <div class="cf"></div>
    </div>

    <div id="go-top">
        <a href="javascript:;"></a>
        <div class="cf"></div>
    </div>

    <div id="footer">
        <p><a href="javascript:;">&copy;<span>Orange Garten</span></a></p>
        <p>网站使用条款</p>
        <p>沪ICP备 12041915号-2 沪公安机关备 31010102003289号</p>
        <p>客服热线: 400-820-5325</p>
        <div class="cf"></div>
    </div>

    <script type="text/javascript">
        $(function () {
            url = window.location.pathname + window.location.search;
            url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");
            console.log(url);
            $('.main_nav').find('a').removeClass("active");
            $('.main_nav').find("a[href='" + url + "']").addClass("active");

            $("#go-top a").click(function () {
                var speed = 200;//滑动的速度
                $('body,html').animate({ scrollTop: 0 }, speed);
                return false;
            });
        })
    </script>

    <block name="script">
    </block>
</body>

</html>