<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/common.css" rel="stylesheet">
</block>

<block name="body">
    <div class="banner">
        <img class="width100" src="__IMG__/how-we-work/1.jpg"></img>
    </div>

    <div class="title">
        <img src="__IMG__/how-we-work/2.png"></img>
    </div>

    <div class="wrap8 left-img-right-content-5">
        <img src="__IMG__/how-we-work/3.jpg" />
        <div class="right-content">
            <p>Generation M是Migros的可持续发展计划。我们致力于保护环境，要求可持续消费，以有约、<br /> 束力的承诺和具体的计划，为社会和员工、为提供健康的生活方式，采取一个社会认可的做法。</p>
            <p>负责是Orange Garten企业文化的一部分。</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap8 right-img-left-content-5">
        <div class="left-content">
            <h2>生产标准</h2>
            <p>M-Industry采取的可持续发展方式适用于生产链的各个阶段 - 从原材料的生产和采购到生产<br /> 现场的制造到消费和回收利用。我们的目标是创建一个循环的生产系统。 </p>
            <p>M-Industry集团的所有公司目前在10个不同领域中的生产都采取针对性的措施维护可持续。</p>
        </div>
        <img src="__IMG__/how-we-work/4.jpg" />
        <div class="cf"></div>
    </div>

    <div class="title">
        <img src="__IMG__/how-we-work/5.png" />
    </div>

    <div class="wrap6 content">
        <p style="text-align:center">
            M industry隶属于瑞士Migros集团。它与Migros旗下25家瑞士公司和7家外国公司生产了超过20,000种优质食品和非食品产品。<br /> 它拥有约13,000名员工，是瑞士主要的雇主，也是世界上最大的自主品牌生产商之一。
        </p>
    </div>

    <div class="wrap8 gallery5-wrap">
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/6.jpg" />
            </a>
            <h3>Jowa</h3>
            <p>作为领先的瑞士面包店，JOWA不仅使客户坚信他们每天使用最好的配料来制作新鲜食品，<br />还提供量身定制的服务。 </p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/7.jpg" />
            </a>
            <h3>Bischoffszell</h3>
            <p>Bischofszell食品有限公司在马铃薯，水果，食品和饮料以及便利产品生产方面拥有多年经验。 公司不断努力寻找不破坏营养的食品，采用尖端科技，保持持续发展。</p>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/8.jpg" />
            </a>
            <h3>Gastina</h3>
            <p>Gastina速食产品有着高新鲜度、高品质的成分和高质量。该公司生产的新一代速食产品-消费者几乎 不能区分Gastina的菜和他们自己烹饪的菜肴之间的区别。</p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/9.jpg" />
            </a>
            <h3>Aproz</h3>
            <p>Sources Minérales成立于1947年，是瑞士矿泉水市场的领导者。 除了天然矿泉水（Aproz，<br /> Aquella和Valais）的品牌，还生产软性饮料、果汁和百事可乐、7UP和Orangina等品牌。 </p>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/10.jpg" />
            </a>
            <h3>frey</h3>
            <p>这个传统品牌由Frey兄弟创立于1887年，自那以来一直生产高品质的巧克力。该产品系列提供多种产品，<br /> 但最重要的是提供优质的巧克力。</p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/11.jpg" />
            </a>
            <h3>Delica</h3>
            <p>Delica物美价廉的产品已经有着大约60年的历史。无论是咖啡还是食品，Delica专注于采购，加工和销售<br /> 最好的原材料和产品。</p>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/12.jpg" />
            </a>
            <h3>Midor</h3>
            <p>作为需求导向概念的公认专家，Midor为瑞士和世界各地的客户提供高品质的糕点、冰淇淋和零食。</p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/how-we-work/13.jpg" />
            </a>
            <h3>Mibelle</h3>
            <p>Mibelle集团作为自主品牌生产商，提供全方位服务，致力于个人护理，家庭护理和营养三个领域。<br /> 它还与Mibelle集团品牌业务领域，致力于研发和储存独家化妆品品牌。 Mibelle集团是欧洲市场上<br /> 第三大自主品牌生产商。 </p>
            <div class="cf"></div>
        </div>

    </div>
</block>

<block name="script">

    <script type="text/javascript">
        $(function() {

        });
    </script>
</block>