<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/jquery.fullPage.css" rel="stylesheet">
    <link type="text/css" href="__CSS__/animate.min.css" rel="stylesheet">
    <link type="text/css" href="__CSS__/index.css" rel="stylesheet">
</block>

<block name="body">
    <div class="section banner2">
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:40%; top:43%; left:-120%;" rel="10.2%" dir="left" src="__IMG__/index/banner2/1/1.png">
                <img style="z-index:1008; width:23.4%; top:57.3%; left:-120%;" rel="19.5%" dir="left" src="__IMG__/index/banner2/1/2.png">
                <img style="z-index:1009; width:17.9%; top:-120%; left:52.5%;" rel="10.8%" dir="top" src="__IMG__/index/banner2/1/3.png">
                <img style="z-index:1006; width:12%; top:-120%; left:46.4%;" rel="28.5%" dir="top" src="__IMG__/index/banner2/1/4.png">
                <img style="z-index:1002; width:16.9%; top:7.7%; left:120%;" rel="67.8%" dir="right" src="__IMG__/index/banner2/1/5.png">
                <img style="z-index:1001; width:53.8%; top:120%; left:48.6%;" rel="33.3%" dir="bottom" src="__IMG__/index/banner2/1/6.png">
                <img style="z-index:1001; width:7.2%; top:90%; left:120%;" rel="90%" dir="right" src="__IMG__/index/banner2/1/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/1/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:27.9%; top:46%; left:-120%;" rel="13.4%" dir="left" src="__IMG__/index/banner2/2/1.png">
                <img style="z-index:1008; width:28.4%; top:56.2%; left:-120%;" rel="19.3%" dir="left" src="__IMG__/index/banner2/2/2.png">
                <img style="z-index:1009; width:19.8%; top:-120%; left:50.5%;" rel="31%" dir="top" src="__IMG__/index/banner2/2/3.png">
                <img style="z-index:1006; width:14.4%; top:-120%; left:44.8%;" rel="37.7%" dir="top" src="__IMG__/index/banner2/2/4.png">
                <img style="z-index:1002; width:16.8%; top:7.8%; left:120%;" rel="67.3%" dir="right" src="__IMG__/index/banner2/2/5.png">
                <img style="z-index:1001; width:56%; top:120%; left:45.3%;" rel="33.3%" dir="bottom" src="__IMG__/index/banner2/2/6.png">
                <img style="z-index:1001; width:7.1%; top:90%; left:120%;" rel="90%" dir="right" src="__IMG__/index/banner2/2/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/2/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:35.3%; top:43.9%; left:-120%;" rel="11.3%" dir="left" src="__IMG__/index/banner2/3/1.png">
                <img style="z-index:1008; width:22.3%; top:56.6%; left:-120%;" rel="19.4%" dir="left" src="__IMG__/index/banner2/3/2.png">
                <img style="z-index:1009; width:13.5%; top:-120%; left:52.4%;" rel="22.4%" dir="top" src="__IMG__/index/banner2/3/3.png">
                <img style="z-index:1006; width:11.1%; top:-120%; left:45.4%;" rel="28.5%" dir="top" src="__IMG__/index/banner2/3/4.png">
                <img style="z-index:1002; width:16.8%; top:11.3%; left:120%;" rel="66.6%" dir="right" src="__IMG__/index/banner2/3/5.png">
                <img style="z-index:1001; width:55.8%; top:120%; left:45.6%;" rel="22.6%" dir="bottom" src="__IMG__/index/banner2/3/6.png">
                <img style="z-index:1001; width:14.4%; top:90%; left:120%;" rel="81.6%" dir="right" src="__IMG__/index/banner2/3/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/3/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:35.3%; top:45.6%; left:-120%;" rel="5.6%" dir="left" src="__IMG__/index/banner2/4/1.png">
                <img style="z-index:1008; width:40.5%; top:57%; left:-120%;" rel="10.2%" dir="left" src="__IMG__/index/banner2/4/2.png">
                <img style="z-index:1009; width:15.1%; top:-120%; left:54%;" rel="14.6%" dir="top" src="__IMG__/index/banner2/4/3.png">
                <img style="z-index:1006; width:11.8%; top:-120%; left:46.9%;" rel="25.5%" dir="top" src="__IMG__/index/banner2/4/4.png">
                <img style="z-index:1002; width:16.8%; top:11.3%; left:120%;" rel="66.6%" dir="right" src="__IMG__/index/banner2/4/5.png">
                <img style="z-index:1001; width:56.4%; top:120%; left:48%;" rel="31.4%" dir="bottom" src="__IMG__/index/banner2/4/6.png">
                <img style="z-index:1001; width:11.5%; top:90%; left:120%;" rel="84%" dir="right" src="__IMG__/index/banner2/4/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/4/8.png">
            </div>
        </div>
    </div>
    <div class="section banner3">
        <div class="banner3-wrap">
            <img style="z-index:1007; width:16.8%; top:65.1%; left:-120%;" rel="48.6%" dir="left" src="__IMG__/index/banner3/1.png">
            <img style="z-index:1008; width:28.6%; top:71%; left:-120%;" rel="54.5%" dir="left" src="__IMG__/index/banner3/2.png">
            <img id="pop-click" style="z-index:1009; width:4.1%; top:72.5%; left:120%;" rel="84.5%" dir="right" src="__IMG__/index/banner3/3.png">
        </div>
        <div class="pop-layout">
            <div class="pop-layout-content">
                <img class="close" src="__IMG__/index/banner3/close.png">
                <ul class="left-nav">
                    <li class="first">
                        <a class="active" href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                    </li>
                    <li class="last">
                        <a></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section banner4">
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
    </div>
    <div class="section banner5">
        <h3>第四屏</h3>
        <p>这是最后一屏</p>
    </div>
</block>

<block name="script">
    <script src="__JS__/jquery.fullPage.min.js"></script>
    <script src="__JS__/jquery.easing.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#main').fullpage({
                paddingTop: "170px",
                paddingBottom: "170px",
                navigation: true,
                afterRender: function () {
                    bannerIn('banner2', 0);
                },
                afterLoad: function (anchorLink, index) {
                    if (index == 1) {
                        bannerIn('banner2', 0);
                    }

                    if (index == 2) {
                        $('.banner3').find('a').delay(100).animate({
                            left: '20%'
                        }, 1500, 'easeOutExpo');

                        $('.banner3').find('[rel]').each(function () {
                            if ($(this).attr("dir") == 'top' || $(this).attr("dir") == 'bottom') {
                                $(this).delay(100).animate({
                                    top: $(this).attr("rel")
                                }, 1000, 'easeOutExpo');
                            } else {
                                $(this).delay(100).animate({
                                    left: $(this).attr("rel")
                                }, 1000, 'easeOutExpo');
                            }
                        });

                        $('#pop-click').click(function () {
                            $('#fp-nav').hide();
                            $('.pop-layout').show();
                            $.fn.fullpage.setAllowScrolling(false);


                        })


                    }

                    if (index == 3) {
                        bannerIn('banner4', 0);
                    }
                },
                onLeave: function (index, direction) {
                    if (index == 1) {
                        bannerOut('banner2', 0);
                    }

                    if (index == 2) {
                        $('.banner3').find('a').delay(100).animate({
                            left: '-80%'
                        }, 1500, 'easeOutExpo');
                    }

                    if (index == 3) {
                        bannerOut('banner4', 0);
                    }
                },
                afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {
                    if (index == 1) {
                        bannerIn('banner2', slideIndex);
                    }

                    if (index == 3) {
                        bannerIn('banner4', slideIndex);
                    }
                },
                onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {
                    if (index == 1) {
                        bannerOut('banner2', slideIndex);
                    }
                    if (index == 3) {
                        bannerOut('banner4', slideIndex);
                    }
                }
            });

            function bannerIn(id, index) {
                $('.' + id).find('.slide').eq(index).find('[rel]').each(function () {
                    if ($(this).attr("dir") == 'top' || $(this).attr("dir") == 'bottom') {
                        $(this).delay(100).animate({
                            top: $(this).attr("rel")
                        }, 1500, 'easeOutExpo');
                    } else {
                        $(this).delay(100).animate({
                            left: $(this).attr("rel")
                        }, 1500, 'easeOutExpo');
                    }
                });
            }

            function bannerOut(id, index) {
                $('.' + id).find('.slide').find('[rel]').each(function () {
                    if ($(this).attr("dir") == 'left') {
                        $(this).css('left', "-120%");
                    } else if ($(this).attr("dir") == 'top') {
                        $(this).css('top', "-120%");
                    } else if ($(this).attr("dir") == 'right') {
                        $(this).css('left', "120%");
                    } else if ($(this).attr("dir") == 'bottom') {
                        $(this).css('top', "120%");
                    }
                });
            }

            // setInterval(function () {
            //     $.fn.fullpage.moveSlideRight();
            // }, 3000);

            $(window).resize(function () {
                autoScrolling();
            });

            function autoScrolling() {
                var $ww = $(window).width();
                if ($ww < 1024) {
                    $.fn.fullpage.setAutoScrolling(false);
                } else {
                    $.fn.fullpage.setAutoScrolling(true);
                }
                setTimeout(function () {
                    $('.banner2-wrap').width($('.banner2-img-8').width());
                    $('.banner2-wrap').css("marginLeft", ($('.banner2').width() - $('.banner2-wrap').width()) / 2);
                    var arroePosition = ($('.banner2').width() - $('.banner2-wrap').width() - $('.fp-controlArrow.fp-prev').width()) / 2;
                    $('.banner2 .fp-controlArrow.fp-prev').css("left", arroePosition + 'px');
                    $('.banner2 .fp-controlArrow.fp-next').css("right", arroePosition + 'px');

                    $('.banner4-wrap').width($('.banner4-img-1').width());
                    $('.banner4-wrap').css("marginLeft", ($('.banner4').width() - $('.banner4-wrap').width()) / 2);
                    var arroePosition = ($('.banner4').width() - $('.banner4-wrap').width() - $('.fp-controlArrow.fp-prev').width()) / 2;
                    $('.banner4 .fp-controlArrow.fp-prev').css("left", arroePosition + 'px');
                    $('.banner4 .fp-controlArrow.fp-next').css("right", arroePosition + 'px');
                }, 500)

            }

            autoScrolling();
        });
    </script>
</block>