<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/jquery.fullPage.css" rel="stylesheet">
    <link type="text/css" href="__CSS__/animate.min.css" rel="stylesheet">
    <link type="text/css" href="__CSS__/index.css" rel="stylesheet">
</block>

<block name="body">
    <div class="section banner2">
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:40%; top:43%; left:-120%;" rel="10.2%" dir="left" src="__IMG__/index/banner2/1/1.png">
                <img style="z-index:1008; width:23.4%; top:57.3%; left:-120%;" rel="19.5%" dir="left" src="__IMG__/index/banner2/1/2.png">
                <img style="z-index:1009; width:17.9%; top:-120%; left:52.5%;" rel="10.8%" dir="top" src="__IMG__/index/banner2/1/3.png">
                <img style="z-index:1006; width:12%; top:-120%; left:46.4%;" rel="28.5%" dir="top" src="__IMG__/index/banner2/1/4.png">
                <img style="z-index:1002; width:16.9%; top:7.7%; left:120%;" rel="67.8%" dir="right" src="__IMG__/index/banner2/1/5.png">
                <img style="z-index:1001; width:53.8%; top:120%; left:48.6%;" rel="33.3%" dir="bottom" src="__IMG__/index/banner2/1/6.png">
                <img style="z-index:1001; width:7.2%; top:90%; left:120%;" rel="90%" dir="right" src="__IMG__/index/banner2/1/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/1/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:27.9%; top:46%; left:-120%;" rel="13.4%" dir="left" src="__IMG__/index/banner2/2/1.png">
                <img style="z-index:1008; width:28.4%; top:56.2%; left:-120%;" rel="19.3%" dir="left" src="__IMG__/index/banner2/2/2.png">
                <img style="z-index:1009; width:19.8%; top:-120%; left:50.5%;" rel="31%" dir="top" src="__IMG__/index/banner2/2/3.png">
                <img style="z-index:1006; width:14.4%; top:-120%; left:44.8%;" rel="37.7%" dir="top" src="__IMG__/index/banner2/2/4.png">
                <img style="z-index:1002; width:16.8%; top:7.8%; left:120%;" rel="67.3%" dir="right" src="__IMG__/index/banner2/2/5.png">
                <img style="z-index:1001; width:56%; top:120%; left:45.3%;" rel="33.3%" dir="bottom" src="__IMG__/index/banner2/2/6.png">
                <img style="z-index:1001; width:7.1%; top:90%; left:120%;" rel="90%" dir="right" src="__IMG__/index/banner2/2/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/2/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:35.3%; top:43.9%; left:-120%;" rel="11.3%" dir="left" src="__IMG__/index/banner2/3/1.png">
                <img style="z-index:1008; width:22.3%; top:56.6%; left:-120%;" rel="19.4%" dir="left" src="__IMG__/index/banner2/3/2.png">
                <img style="z-index:1009; width:13.5%; top:-120%; left:52.4%;" rel="22.4%" dir="top" src="__IMG__/index/banner2/3/3.png">
                <img style="z-index:1006; width:11.1%; top:-120%; left:45.4%;" rel="28.5%" dir="top" src="__IMG__/index/banner2/3/4.png">
                <img style="z-index:1002; width:16.8%; top:11.3%; left:120%;" rel="66.6%" dir="right" src="__IMG__/index/banner2/3/5.png">
                <img style="z-index:1001; width:55.8%; top:120%; left:45.6%;" rel="22.6%" dir="bottom" src="__IMG__/index/banner2/3/6.png">
                <img style="z-index:1001; width:14.4%; top:90%; left:120%;" rel="81.6%" dir="right" src="__IMG__/index/banner2/3/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/3/8.png">
            </div>
        </div>
        <div class="slide">
            <div class="banner2-wrap">
                <img style="z-index:1007; width:35.3%; top:45.6%; left:-120%;" rel="5.6%" dir="left" src="__IMG__/index/banner2/4/1.png">
                <img style="z-index:1008; width:40.5%; top:57%; left:-120%;" rel="10.2%" dir="left" src="__IMG__/index/banner2/4/2.png">
                <img style="z-index:1009; width:15.1%; top:-120%; left:54%;" rel="14.6%" dir="top" src="__IMG__/index/banner2/4/3.png">
                <img style="z-index:1006; width:11.8%; top:-120%; left:46.9%;" rel="25.5%" dir="top" src="__IMG__/index/banner2/4/4.png">
                <img style="z-index:1002; width:16.8%; top:11.3%; left:120%;" rel="66.6%" dir="right" src="__IMG__/index/banner2/4/5.png">
                <img style="z-index:1001; width:56.4%; top:120%; left:48%;" rel="31.4%" dir="bottom" src="__IMG__/index/banner2/4/6.png">
                <img style="z-index:1001; width:11.5%; top:90%; left:120%;" rel="84%" dir="right" src="__IMG__/index/banner2/4/7.png">
                <img class="banner2-img-8" src="__IMG__/index/banner2/4/8.png">
            </div>
        </div>
    </div>
    <div class="section banner3">
        <div class="banner3-wrap">
            <img style="z-index:1007; width:16.8%; top:65.1%; left:-120%;" rel="48.6%" dir="left" src="__IMG__/index/banner3/1.png">
            <img style="z-index:1008; width:28.6%; top:71%; left:-120%;" rel="54.5%" dir="left" src="__IMG__/index/banner3/2.png">
            <img id="pop-click" style="z-index:1009; width:4.1%; top:72.5%; left:120%;" rel="84.5%" dir="right" src="__IMG__/index/banner3/3.png">
        </div>
        <div class="pop-layout">
            <div class="pop-layout-content">
                <img class="close" src="__IMG__/index/banner3/close.png">
                <ul class="left-nav">
                    <li class="first">
                        <a href="javascript:;"></a>
                        <i class="number">1.</i>
                        <i class="description">有一种标志<br />它像家人般懂你</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">2.</i>
                        <i class="description">有一种标志<br />绝不仅仅是一个符号</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">3.</i>
                        <i class="description">当你看到这个标志<br />就会感到安心</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">4.</i>
                        <i class="description">当你看到这个标志<br />就会放下顾虑</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">5.</i>
                        <i class="description">当你看到这个标志<br />你会知道商品的来龙去脉</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">6.</i>
                        <i class="description">当你看到这个标志<br />不会感到平淡和无聊</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">7.</i>
                        <i class="description">这个标志就是欧瑞家<br />拥有欧洲品味和瑞士品质</i>
                    </li>
                    <li class="last">
                        <a href="javascript:;"></a>
                        <i class="number">8.</i>
                        <i class="description">因为在欧瑞家<br />我们尽心，你尽兴</i>
                    </li>
                </ul>
                <div class="banner3-nav-content">
                    <p><img src="__IMG__/index/banner3/content/1.png"></p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />1生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />2生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />3生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />4生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />5生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />6生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img src="__IMG__/index/banner3/content/2.png"><br />7生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section banner4">
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
        <div class="slide">
            <div class="banner4-wrap">
                <img class="banner4-img-2" rel="81%" dir="bottom" src="__IMG__/index/banner4/1/2.png">
                <img class="banner4-img-1" src="__IMG__/index/banner4/1/1.jpg">
            </div>
        </div>
    </div>
    <div class="section banner5">
        <div class="banner5-wrap">
            <img style="z-index:1007; width:35.1%; top:64%; left:-120%;" rel="34.2%" dir="left" src="__IMG__/index/banner5/2.png">
            <img style="z-index:1008; width:30.7%; top:70.2%; left:-120%;" rel="47.8%" dir="left" src="__IMG__/index/banner5/3.png">
            <img id="banner5-pop-click" style="z-index:1009; width:4.1%; top:72.1%; left:120%;" rel="79.6%" dir="right" src="__IMG__/index/banner5/1.png">
        </div>
        <div class="banner5-pop-layout">
            <div class="banner5-pop-layout-content">
                <img class="banner5-pop-layout-content-close" src="__IMG__/index/banner3/close.png">
                <ul class="time-nav">
                    <li class="first" style="width:15%">
                        <a><span></span></a>
                        <i>1925</i>
                    </li>
                    <li style="width:11.2%">
                        <a><span></span></a>
                        <i>1937</i>
                    </li>
                    <li style="width:28.8%">
                        <a><span></span></a>
                        <i>1945</i>
                    </li>
                    <li style="width:22.4%">
                        <a><span></span></a>
                        <i>1982</i>
                    </li>
                    <li style="width:19.4%">
                        <a><span></span></a>
                        <i>2001</i>
                    </li>
                    <li style="width:3.2%">
                        <a><span></span></a>
                        <i>2017</i>
                    </li>
                </ul>
                <div class="banner5-pop-content">
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section banner6">
        <div class="banner6-div-1">
            <img src="__IMG__/index/banner6/1.jpg">
            <p></p>
            <a href="javascript:;"></a>
        </div>
        <div class="banner6-div-2">
            <img src="__IMG__/index/banner6/2.jpg">
            <p></p>
            <a href="javascript:;"></a>
        </div>
        <div class="banner6-div-3">
            <img src="__IMG__/index/banner6/3.jpg">
            <p></p>
            <a href="javascript:;"></a>
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/jquery.fullPage.min.js"></script>
    <script src="__JS__/jquery.easing.min.js"></script>
    <script src="__JS__/jquery.mousewheel.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#main').fullpage({
                paddingTop: "170px",
                paddingBottom: "170px",
                navigation: true,
                afterRender: function () {
                    bannerIn('banner2', 0);
                },
                afterLoad: function (anchorLink, index) {
                    if (index == 1) {
                        bannerIn('banner2', 0);
                    }

                    if (index == 2) {
                        $('.banner3').find('[rel]').each(function () {
                            if ($(this).attr("dir") == 'top' || $(this).attr("dir") == 'bottom') {
                                $(this).delay(100).animate({
                                    top: $(this).attr("rel")
                                }, 1500, 'easeOutExpo');
                            } else {
                                $(this).delay(100).animate({
                                    left: $(this).attr("rel")
                                }, 1000, 'easeOutExpo');
                            }
                        });

                        $('#pop-click').click(function () {
                            $('#fp-nav').hide();
                            $('.pop-layout').show();
                            $.fn.fullpage.setAllowScrolling(false);
                            $('.left-nav').find('li').eq(0).addClass('active');
                            $('.banner3-nav-content').find('p').eq(0).show();
                        })

                        $(document).on('click', '.banner3 .close', function () {
                            $('#fp-nav').show();
                            $('.pop-layout').hide();
                            $.fn.fullpage.setAllowScrolling(true);
                        })

                        $('.banner3-nav-content').bind('mousewheel', function (event, delta) {
                            var dir = delta > 0 ? 'Up' : 'Down';
                            if (dir == 'Up') {
                                if ($('.left-nav .active').prev().length == 0) {
                                    $('.left-nav .active').removeClass('active');
                                    $('.left-nav').find('li').eq($('.left-nav').find('li').length - 1).addClass('active');
                                } else {
                                    $('.left-nav .active').removeClass('active').prev().addClass('active')
                                }
                            } else {
                                if ($('.left-nav .active').next().length == 0) {
                                    $('.left-nav .active').removeClass('active');
                                    $('.left-nav').find('li').eq(0).addClass('active');
                                } else {
                                    $('.left-nav .active').removeClass('active').next().addClass('active')
                                }
                            }
                            var index = $('.left-nav').find('li').index($('.left-nav .active'));
                            $('.banner3-nav-content').find('p').eq(index).show().siblings().hide();
                            return false;
                        });


                    }

                    if (index == 3) {
                        bannerIn('banner4', 0);
                    }

                    if (index == 4) {
                        $('.banner5').find('[rel]').each(function () {
                            if ($(this).attr("dir") == 'top' || $(this).attr("dir") == 'bottom') {
                                $(this).delay(100).animate({
                                    top: $(this).attr("rel")
                                }, 1500, 'easeOutExpo');
                            } else {
                                $(this).delay(100).animate({
                                    left: $(this).attr("rel")
                                }, 1000, 'easeOutExpo');
                            }
                        });

                        $('#banner5-pop-click').click(function () {
                            $('#fp-nav').hide();
                            $('.banner5-pop-layout').show();
                            $.fn.fullpage.setAllowScrolling(false);
                            $('.time-nav').find('li').eq(0).addClass('active');
                            $('.banner5-pop-content').find('div').eq(0).show();
                        });

                        $(document).on('click', '.banner5-pop-layout-content-close', function () {
                            $('#fp-nav').show();
                            $('.banner5-pop-layout').hide();
                            $.fn.fullpage.setAllowScrolling(true);
                        })

                        $('.banner5-pop-content').bind('mousewheel', function (event, delta) {
                            var dir = delta > 0 ? 'Up' : 'Down';
                            if (dir == 'Up') {
                                if ($('.time-nav .active').prev().length == 0) {
                                    $('.time-nav .active').removeClass('active');
                                    $('.time-nav').find('li').eq($('.time-nav').find('li').length - 1).addClass('active');
                                } else {
                                    $('.time-nav .active').removeClass('active').prev().addClass('active')
                                }
                            } else {
                                if ($('.time-nav .active').next().length == 0) {
                                    $('.time-nav .active').removeClass('active');
                                    $('.time-nav').find('li').eq(0).addClass('active');
                                } else {
                                    $('.time-nav .active').removeClass('active').next().addClass('active')
                                }
                            }
                            var index = $('.time-nav').find('li').index($('.time-nav .active'));
                            $('.banner5-pop-content').find('div').eq(index).show().siblings().hide();
                            return false;
                        });
                    }

                    if (index == 5) {
                        $('.banner6-div-1 a').click(function () {
                            $('.banner6-div-1').css({ "width": "100%", "left": "0", "z-index": "3000" });
                            $('.banner6-div-1 img').css({ "left": "0", "width": "90%" });
                            $('.banner6-div-1 p').css({ "left": "69%" });
                            $('.banner6-div-1 a').css({ "left": "85%" });

                            $('.banner6-div-2').css({ "width": "100%", "left": "0", "transform": "none" });
                            $('.banner6-div-2 *').css({ "transform": "none" });
                            $('.banner6-div-2 img').css({ "left": "0", "width": "95%" });
                            $('.banner6-div-2 a').css({ "left": "91%" });

                            $('.banner6-div-3').css({ "width": "100%", "left": "0" });
                            $('.banner6-div-3 img').css({ "left": "0", "width": "100%" });
                            $('.banner6-div-3 a').css({ "left": "96%" });
                        });

                        $('.banner6-div-2 a').click(function () {
                            $('.banner6-div-1').css({ "width": "100%", "left": "0", "z-index": "2000" });
                            $('.banner6-div-1 img').css({ "left": "0" });
                            $('.banner6-div-1 a').css({ "left": "0%" });

                            $('.banner6-div-2').css({ "width": "100%", "left": "0", "transform": "none", "z-index": "3000" });
                            $('.banner6-div-2 *').css({ "transform": "none" });
                            $('.banner6-div-2 img').css({ "left": "5%", "width": "90%" });
                            $('.banner6-div-2 p').css({ "left": "74%" });
                            $('.banner6-div-2 a').css({ "left": "90%" });

                            $('.banner6-div-3').css({ "width": "100%", "left": "0", "z-index": "1000" });
                            $('.banner6-div-3 img').css({ "left": "0", "width": "100%" });
                            $('.banner6-div-3 a').css({ "left": "96%" });
                        });


                        $('.banner6-div-3 a').click(function () {
                            $('.banner6-div-1').css({ "width": "100%", "left": "0", "z-index": "1000" });
                            $('.banner6-div-1 img').css({ "left": "0" });
                            $('.banner6-div-1 a').css({ "left": ($('.banner6-div-1').width() * 0.05 - $(this).width()) / 2 + 'px' });

                            $('.banner6-div-2').css({ "width": "100%", "left": "0", "transform": "none", "z-index": "2000" });
                            $('.banner6-div-2 *').css({ "transform": "none" });
                            $('.banner6-div-2 img').css({ "left": "5%", "width": "90%" });
                            $('.banner6-div-2 a').css({ "left": $('.banner6-div-1').width() * 0.05 + ($('.banner6-div-1').width() * 0.05 - $(this).width()) / 2 + 'px' });

                            $('.banner6-div-3').css({ "width": "100%", "left": "0", "z-index": "3000" });
                            $('.banner6-div-3 img').css({ "left": "10%", "width": "90%" });
                            $('.banner6-div-2 p').css({ "right": $('.banner6-div-1').width() * 0.05 + 20 + 'px' });
                            $('.banner6-div-3 a').css({ "right": ($('.banner6-div-1').width() * 0.05 - $(this).width()) / 2 + 'px' });
                        });
                    }
                },
                onLeave: function (index, direction) {
                    if (index == 1) {
                        bannerOut('banner2', 0);
                    }

                    if (index == 2) {
                        $('.banner3').find('a').delay(100).animate({
                            left: '-80%'
                        }, 1500, 'easeOutExpo');
                    }

                    if (index == 3) {
                        bannerOut('banner4', 0);
                    }
                },
                afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {
                    if (index == 1) {
                        bannerIn('banner2', slideIndex);
                    }

                    if (index == 3) {
                        bannerIn('banner4', slideIndex);
                    }
                },
                onSlideLeave: function (anchorLink, index, slideIndex, direction, nextSlideIndex) {
                    if (index == 1) {
                        bannerOut('banner2', slideIndex);
                    }
                    if (index == 3) {
                        bannerOut('banner4', slideIndex);
                    }
                }
            });

            function bannerIn(id, index) {
                $('.' + id).find('.slide').eq(index).find('[rel]').each(function () {
                    if ($(this).attr("dir") == 'top' || $(this).attr("dir") == 'bottom') {
                        $(this).delay(100).animate({
                            top: $(this).attr("rel")
                        }, 1500, 'easeOutExpo');
                    } else {
                        $(this).delay(100).animate({
                            left: $(this).attr("rel")
                        }, 1500, 'easeOutExpo');
                    }
                });
            }

            function bannerOut(id, index) {
                $('.' + id).find('.slide').find('[rel]').each(function () {
                    if ($(this).attr("dir") == 'left') {
                        $(this).css('left', "-120%");
                    } else if ($(this).attr("dir") == 'top') {
                        $(this).css('top', "-120%");
                    } else if ($(this).attr("dir") == 'right') {
                        $(this).css('left', "120%");
                    } else if ($(this).attr("dir") == 'bottom') {
                        $(this).css('top', "120%");
                    }
                });
            }

            // setInterval(function () {
            //     $.fn.fullpage.moveSlideRight();
            // }, 3000);

            $(window).resize(function () {
                autoScrolling();
            });

            function autoScrolling() {
                var $ww = $(window).width();
                if ($ww < 1024) {
                    $.fn.fullpage.setAutoScrolling(false);
                } else {
                    $.fn.fullpage.setAutoScrolling(true);
                }
                setTimeout(function () {
                    $('.banner2-wrap').width($('.banner2-img-8').width());
                    $('.banner2-wrap').css("marginLeft", ($('.banner2').width() - $('.banner2-wrap').width()) / 2);
                    var arroePosition = ($('.banner2').width() - $('.banner2-wrap').width() - $('.fp-controlArrow.fp-prev').width()) / 2;
                    $('.banner2 .fp-controlArrow.fp-prev').css("left", arroePosition + 'px');
                    $('.banner2 .fp-controlArrow.fp-next').css("right", arroePosition + 'px');

                    $('.banner4-wrap').width($('.banner4-img-1').width());
                    $('.banner4-wrap').css("marginLeft", ($('.banner4').width() - $('.banner4-wrap').width()) / 2);
                    var arroePosition = ($('.banner4').width() - $('.banner4-wrap').width() - $('.fp-controlArrow.fp-prev').width()) / 2;
                    $('.banner4 .fp-controlArrow.fp-prev').css("left", arroePosition + 'px');
                    $('.banner4 .fp-controlArrow.fp-next').css("right", arroePosition + 'px');
                }, 500)

            }

            autoScrolling();
        });
    </script>
</block>