<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/index/jquery.fullPage.css" rel="stylesheet" />
    <link type="text/css" href="__CSS__/index/animate.min.css" rel="stylesheet" />
    <link type="text/css" href="__CSS__/index/index.css" rel="stylesheet" />
</block>

<block name="body">
    <!-- 
        
        
        banner2
    
    
    -->
    <div class="section banner2">
        <!-- slide1 -->
        <div class="slide">
            <ul class="banner2-content banner2-content-0">
                <li class="layer" data-depth="0.80">
                    <div>
                        <img style="width:9%; top:87%; left:90%;" src="__IMG__/index/banner2/1/7.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.60">
                    <div>
                        <img style="width:16.9%; top:7.7%; left:67.8%;" src="__IMG__/index/banner2/1/5.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.40">
                    <div>
                        <img style="width:53.8%; top:10.8%; left:46.4%;" src="__IMG__/index/banner2/1/product.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.20">
                    <div>
                        <img class="text" style="width:40%; top:47%; left:10.2%;" src="__IMG__/index/banner2/1/text.png">
                    </div>
                </li>
            </ul>
        </div>
        <!-- slide2 -->
        <div class="slide">
            <ul class="banner2-content banner2-content-1">
                <li class="layer" data-depth="0.80">
                    <div>
                        <img style="width:7.1%; top:90%; left:90%;" rel="90%" src="__IMG__/index/banner2/2/7.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.60">
                    <div>
                        <img style="width:16.8%; top:7.8%; left:67.3%;" src="__IMG__/index/banner2/2/5.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.30">
                    <div>
                        <img style="width:56%; top:32.7%; left:44.8%;" src="__IMG__/index/banner2/2/product.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.20">
                    <div>
                        <img style="width:33.9%; top:46%; left:13.4%;" class="text" src="__IMG__/index/banner2/2/text.png">
                    </div>
                </li>
            </ul>
        </div>
        <!-- slide3 -->
        <div class="slide">
            <ul class="banner2-content banner2-content-2">
                <li class="layer" data-depth="0.80">
                    <div>
                        <img style="width:14.4%; top:90%; left:81.6%;" src="__IMG__/index/banner2/3/7.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.60">
                    <div>
                        <img style="width:16.8%; top:11.3%; left:66.6%;" src="__IMG__/index/banner2/3/5.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.40">
                    <div>
                        <img style="width:55.8%; top:22.4%; left:44.4%;" src="__IMG__/index/banner2/3/product.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.20">
                    <div>
                        <img style="width:35.3%; top:43.9%; left:11.3%;" class="text" src="__IMG__/index/banner2/3/text.png">
                    </div>
                </li>
            </ul>
        </div>
        <!-- slide4 -->
        <div class="slide">
            <ul class="banner2-content banner2-content-3">
                <li class="layer" data-depth="0.80">
                    <div>
                        <img style="width:11.5%; top:90%; left:84%;" src="__IMG__/index/banner2/4/7.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.60">
                    <div>
                        <img style="width:16.8%; top:11.3%; left:66.6%;" src="__IMG__/index/banner2/4/5.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.40">
                    <div>
                        <img style="width:56.4%; top:10.5%; left:48%;" src="__IMG__/index/banner2/4/product.png">
                    </div>
                </li>
                <li class="layer" data-depth="0.20">
                    <div>
                        <img style="width:46.3%; top:45.6%; left:5.6%;" class="text" src="__IMG__/index/banner2/4/text.png">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 
        
        
        banner3
    
    
    -->
    <div class="section banner3">
        <div class="banner3-wrap">
            <img class="text" style="width: 30vw;top: 65vh;left: 45.6vw;" src="/Public/Home/images/index/banner3/text.png">
            <img id="pop-click" style="z-index: 1009;width: 4vw;height: 4vw;top: 69.5vh;left: 83vw;" src="/Public/Home/images/index/banner3/3.png">
        </div>
        <div class="pop-layout">
            <div class="pop-layout-content">
                <img class="close" src="__IMG__/index/banner3/close.png">
                <ul class="left-nav">
                    <li class="first">
                        <a href="javascript:;"></a>
                        <i class="number">1.</i>
                        <i class="description">有一种标志<br />它像家人般懂你</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">2.</i>
                        <i class="description">有一种标志<br />绝不仅仅是一个符号</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">3.</i>
                        <i class="description">当你看到这个标志<br />就会感到安心</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">4.</i>
                        <i class="description">当你看到这个标志<br />就会放下顾虑</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">5.</i>
                        <i class="description">当你看到这个标志<br />你会知道商品的来龙去脉</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">6.</i>
                        <i class="description">当你看到这个标志<br />不会感到平淡和无聊</i>
                    </li>
                    <li>
                        <a href="javascript:;"></a>
                        <i class="number">7.</i>
                        <i class="description">这个标志就是欧瑞家<br />拥有欧洲品味和瑞士品质</i>
                    </li>
                    <li class="last">
                        <a href="javascript:;"></a>
                        <i class="number">8.</i>
                        <i class="description">因为在欧瑞家<br />我们尽心，你尽兴</i>
                    </li>
                </ul>
                <div class="banner3-nav-content">
                    <p class="first-p"><img class="logo-img" src="__IMG__/index/banner3/content/1.png"></p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br
                        /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。</p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />对于我们来说，这个标志，绝不仅仅是一个符号。<br /> 它代表你向往的生活，而生活的背后更是我们对你的用心和关爱！</p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />每当你看到这个标志。<br /> 你就知道我们正在守护着你所在乎的一切，持之以恒，兢兢业业。</p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />每当你看到这个标志。你会不经意地放下所有顾虑。<br /> 因为你知道它代表着最严苛的国际标准，最专业的态度和要求。</p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />每当你看到这个标志。你会知道每一件商品的来龙去脉，<br />                        因为我们100%自制自营，并且具有国际认证的可追踪标志， 每个环节都经得起追踪和检验。
                    </p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />每当你看到这个标志。你还会感到平淡和无聊吗？！<br /> 我们每两年就会针对60%的产品进行更新换代，让你尽情尽享，肆意生活。</p>
                    <p><img class="top-img" src="__IMG__/index/banner3/content/2.png"><br />这个标志就是欧瑞家，把欧洲的品味生活和严苛的瑞士品质带回家。<br
                        /> 这种自在的购物体验和随性的生活乐趣，你一定会爱上它，信赖它，享受它！</p>
                </div>
                <img class="banner5-pop-layout-content-scroll-down" src="__IMG__/index/banner3/scroll-down.png">
            </div>
        </div>
    </div>
    <!-- 
        
        
        banner5
    
    
    -->
    <div class="section banner5">
        <div class="banner5-wrap">
            <img class="text" style="z-index: 1007;width: 36vw;top: 64vh;left: 37vw;" src="/Public/Home/images/index/banner5/text.png">
            <img id="banner5-pop-click" style="z-index:1009; width:4.1vw; top:70vh; left:80vw;" src="__IMG__/index/banner5/1.png">
        </div>
        <div class="banner5-pop-layout">
            <div class="banner5-pop-layout-content">
                <img class="banner5-pop-layout-content-close" src="__IMG__/index/banner3/close.png">
                <ul class="time-nav">
                    <li class="first" style="width:15%">
                        <a href="javascript:;"><span></span></a>
                        <i>1925</i>
                    </li>
                    <li style="width:11.2%">
                        <a href="javascript:;"><span></span></a>
                        <i>1928</i>
                    </li>
                    <li style="width:28.8%">
                        <a href="javascript:;"><span></span></a>
                        <i>1941</i>
                    </li>
                    <li style="width:22.4%">
                        <a href="javascript:;"><span></span></a>
                        <i>1948</i>
                    </li>
                    <li style="width:19.4%">
                        <a href="javascript:;"><span></span></a>
                        <i>2012</i>
                    </li>
                    <li style="width:3.2%">
                        <a href="javascript:;"><span></span></a>
                        <i>2017</i>
                    </li>
                </ul>
                <div class="banner5-pop-content">
                    <div>
                        <img style="width:73.6%; top:28.7%; left:0%;" src="__IMG__/index/banner5/5.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">Migros的起源</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">Migros创建于1925年，通过5辆小型货车以及<br /> 雇佣的16名员工，建造了移动商店。</p>
                    </div>
                    <div>
                        <img style="width: 43.6%;top:28.7%;left: 3%;" src="__IMG__/index/banner5/6.png">
                        <h2 style="width: 38.6%;top:42.2%;left:61.3%;">开启自制自营时代</h2>
                        <p style="width: 41.6%;top:57.6%;left:61.3%;">1928年，为抵抗竞争对手的联合封杀，Gottlieb开办工厂，<br>生产Migros自主产品，开启自制自营时代。</p>
                    </div>
                    <div>
                        <img style="width: 43.6%;top: 20.7%;left: 3%;" src="__IMG__/index/banner5/7.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">奉献精神延续至今</h2>
                        <p style="width: 47.6%;top:57.6%;left:61.3%;">1941年，Migros拥有门店超100余家，Gottlieb更将所有权<br> 转让客户，使Migros全面民主化经营，惠及社会和更多弱势<br> 群体，这种强烈地社会责任感和奉献精神延续至今。</p>
                    </div>
                    <div>
                        <img style="width: 43.6%;top: 26.7%;left: 3%;" src="__IMG__/index/banner5/8.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">“像家一样温馨”</h2>
                        <p style="width: 53.6%;top:57.6%;left:61.3%;">1948年，Gottlieb对零售商业模式进行了创新——欧洲首个<br> 自选商店诞生，改变了瑞士家庭主妇的生活，从产品品质到<br> 购物体验，都“像家一样温馨”。</p>
                    </div>
                    <div>
                        <img style="width: 43.6%;top: 20.7%;left: 6%;" src="__IMG__/index/banner5/9.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">最有影响力的瑞士企业家</h2>
                        <p style="width: 50.6%;top:57.6%;left:61.3%;">2012年，Migros成立“Generation M”，做出30余项可持续<br> 发展承诺，未来将惠及更多的年轻人和儿童。<br> 同年，Gottlieb Duttweiler被瑞士政府评为“近100年来最<br>                            有影响力的瑞士企业家”。</p>
                    </div>
                    <div>
                        <img style="width: 43.6%;top:28.7%;left: 2%;" src="__IMG__/index/banner5/10.png">
                        <h2 style="width:38.6%; top:42.2%; left:61.3%;">目前的Migros</h2>
                        <p style="width:38.6%; top:57.6%; left:61.3%;">目前，Migros被世界零售大会评为世界上最可持续发展的<br> 企业之一。</p>
                    </div>
                </div>
                <img class="banner5-pop-layout-content-scroll-down" src="__IMG__/index/banner3/scroll-down.png">
            </div>
        </div>
    </div>
    <!-- 
        
        
        banner3
    
    
    -->
    <div class="section banner6">
        <div class="banner6-div-1">
            <img src="__IMG__/index/banner6/1.jpg">
            <p></p>
            <a href="{:U('whoWeAre')}"></a>
        </div>
        <div class="banner6-div-2">
            <img src="__IMG__/index/banner6/2.jpg">
            <p></p>
            <a href="{:U('howWeWork')}"></a>
        </div>
        <div class="banner6-div-3">
            <img src="__IMG__/index/banner6/3.jpg">
            <p></p>
            <a href="{:U('whereWeAre')}"></a>
        </div>
    </div>
</block>

<block name="script">
    <script src="__JS__/jquery.fullPage.min.js"></script>
    <script src="__JS__/jquery.easing.min.js"></script>
    <script src="__JS__/jquery.mousewheel.min.js"></script>
    <script src="__JS__/parallax.min.js"></script>
    <script src="__JS__/index.js"></script>
</block>