<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/common.css" rel="stylesheet">
</block>

<block name="body">
    <div class="banner">
        <img class="width100" src="__IMG__/where-we-are/1.jpg"></img>
    </div>

    <div class="title">
        <img src="__IMG__/where-we-are/2.png"></img>
    </div>

    <div class="wrap6 content">
        <p>这个想法因为一个叫Gottlieb Duttweiler的企业家在瑞士生根发芽，他是Migros的创始人，也是一个非常有远见的企业家。<br /> 他的想法是通过让人们接受传统的瑞士价值观，包括可信度、可靠性、真实性、诚实、健康的生活方式和优质的生活质量，以获得生命力和营养。</p>
    </div>

    <div class="wrap8 gallery5-wrap">
        <div class="gallery5">
            <p>这些关于瑞士生活的永恒理想不会与你的邻居有任何关系，也不会使把别人的福利永远排在第一 位。这个理想不仅仅意味着建立一个产业，更多的是建立桥梁和联系的纽带，并且在今天仍然继 续着。 </p>
            <p>为别人的利益着想，从一开始就是Gottlieb的愿景。通过社会和教育计划、创新的商业解决方案、 坚持动物人性化的治疗、可持续发展的承诺和环保的供应链实践，这一宗旨逐渐变为现实。</p>
            <p>有些人相信生产者和零售商对产品的关注，大于对销售及其生产产品资金的关注度 - 这种可信赖 的生态系统，可以在全世界推广。虽然国际消费者需要瑞士和欧洲的质量和真实性，但更需要一 个能够将人们的利益置于自身利益之上的企业。</p>
            <p>Orange Garten的开始源于这些理想。它不仅曾是Gottlieb家附近的一个实体商铺，也是把过去、 现在和未来联系起来的桥梁，让人们在其中放心的享受。</p>
            <p>现在，Orange Garten是一个符合瑞士标准的，能够与世界其他地区共享的品牌。</p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/3.jpg" />
            </a>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/4.jpg" />
            </a>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/5.jpg" />
            </a>
            <div class="cf"></div>
        </div>
    </div>

    <div class="banner">
        <img class="width100" src="__IMG__/where-we-are/6.jpg" />
        <div class="bg-description-left" style="top: 16vh;">
            <h3>GOTTLIEB DUTTWEILER <br />(1888–1962)</h3>
            <p>Gottlieb Duttweiler是苏黎世的商人。年轻，敢于冒险。</p>
            <p> 他在1920年之前售卖可可，大米，燃料油，咖啡，茶，橄榄，松节油和硫酸。</p>
            <p> 购买，进口，出售。起初他是成功的， <br /> 直到魏玛共和国的恶性通货膨胀危机使他陷入僵局。</p>
            <p> 之后他决定移民到巴西，成为农民。但他很快就回到了瑞士，想重新开始。</p>
            <p> 1925年，Dutti中派出了五辆Migros移动售卖车。</p>
            <p> 移动商店背后的理念是降低成本，减少利润，从而确保售卖的价格无与伦比。</p>
            <p> 人们来了，买了，然后再回去。从那开始，成功始终伴随着这位有远见的商人。 </p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="title">
        <img src="__IMG__/where-we-are/7.png"></img>
    </div>

    <div class="wrap6 gallery5-wrap block4">
        <div class="gallery5">
            <a class="statistics" href="javascript:;"></a>
            <h3 class="large-green">24.000 000</h3>
            <p class="text-center">生意好的时候一天内有2400万件商品出售</p>
            <div class="cf"></div>
        </div>
        <div class="gallery5">
            <p>*Migros是瑞士最大的零售商，市场份额为<span class="big-red">21.9%</span></p>
            <p>*Migros是世界<span class="big-red">500</span>强企业之一。</p>
            <p>*在高峰期，有超过<span class="big-red">600</span>家分店出售了约<span class="big-green">24.000 000</span> 个物品。</p>
            <p>*仅在食品行业就有<span class="big-red">3500</span>种有机产品</p>
            <p>*我们的鱼和海鲜的<span class="big-red">100%</span>有着可持续来源。</p>
            <p>*Migros是世界上最具可持续性的零售商。</p>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap6 gallery3-wrap">
        <div class="gallery3">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/9.jpg" />
            </a>
            <h3>员 工</h3>
            <p>
                我们的员工—他们的专长、技能和能力是 Orange Garten成功的关键。这就是为什 么我们致力于支持培养现代人才策略。您 可以在这里了解我们的员工。
            </p>
            <div class="cf"></div>
        </div>
        <div class="gallery3">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/10.jpg" />
            </a>
            <h3>奖 项</h3>
            <p>
                我们关于可持续发展和保护环境的承诺获得了不 同的奖项。您可以在这里找到我们所获奖项的 概述。
            </p>
            <div class="cf"></div>
        </div>
        <div class="gallery3">
            <a href="javascript:;">
                <img src="__IMG__/where-we-are/11.jpg" />
            </a>
            <h3>认 证</h3>
            <p>
                M-Industry集团自2016年10月起通过了 ISO 14001认证。这表明Orange Garten能够确 保遵循环境法律的规定，减少对环境的影响，不 断改进可持续发展。您可以在这里查看我们获得 的认证。
            </p>
            <div class="cf"></div>
        </div>
        <div class="cf"></div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if (window.document.body.scrollTop >= 300) {
                    $("#header").fadeOut();
                }
                else {
                    $("#header").fadeIn();
                }
            });
        });
    </script>
</block>