<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/index/common.css" rel="stylesheet">
</block>

<block name="body">
    <div class="banner" style="top:7vh;">
        <img class="width100" src="__IMG__/who-we-are/1.jpg"></img>
    </div>

    <div class="title">
        <img src="__IMG__/who-we-are/2.png"></img>
    </div>

    <div class="wrap6 content">
        <p>
            Orange Garten的故事始于瑞士， 更具体的说是在苏黎世。 1925年，Gottlieb Duttweiler创立了Migros，该公司现拥有600多家店面和10万多名员工， 成为瑞士最大的零售公司。 Migros代表着瑞士的价值观，如信任、可靠性、质量、新鲜度、物有所值和可持续性。
            作为Migros的一部分，Orange Garten也致力于坚持这些价值观。
        </p>
        <p>
            作为零售商，我们的使命是为客户提供高品质的瑞士产品，使他们过上优质的可持续的生活。 
			过优质的生活。这不仅仅是一个品牌的承诺 - 这是一种哲学，这种哲学赋予我们去做任何事情的动力。我们保证动物会受到尊重，使用可持续的生产过程，
			并且对我们的星球负责。不管是现在还是未来，这都会成为我们履行承诺的唯一途径。 
        </p>
    </div>

    <div class="title">
        <img src="__IMG__/who-we-are/14.png"></img>

    </div>

    <div class="wrap8 left-img-right-content">
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="right-content">
            <h2>责 任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap8 right-img-left-content">
        <div class="left-content">
            <h2>健 康</h2>
            <p>无论是可食用的产品还是身体可接触的产品，我们都会对使用的原材料、生产过程、以及供应链中的每一步进行考量， 尽全力保证产品符合最高的品质、营养和生态标准。</p>
        </div>
        <img src="__IMG__/who-we-are/8.jpg" />
        <div class="cf"></div>
    </div>

    <div class="wrap8 left-img-right-content">
        <img src="__IMG__/who-we-are/9.jpg" />
        <div class="right-content">
            <h2>真 实</h2>
            <p>我们坚信，我们的真实性早已超出了以往传统中的定义。它体现了我们的产品独特的品质，以及作为企业，在国内外， 为消费者利益不断去努力的独特的工作观念。 </p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap8 right-img-left-content">
        <div class="left-content">
            <h2>信 任</h2>
            <p>一个多世纪以来，信任始终我们的核心价值观——对产品品质的信任、对我们所坚信的价值观的信任， 对我们每天努力使生活变得更美好的理想与远见的信任。</p>
        </div>
        <img src="__IMG__/who-we-are/10.jpg" />
        <div class="cf"></div>
    </div>

    <div class="wrap8 left-img-right-content">
        <img src="__IMG__/who-we-are/11.jpg" />
        <div class="right-content">
            <h2>想法和价值</h2>
            <p>自始至终，不管是对消费者还是对我们的员工或合作伙伴， 我们都将创意和价值观奉为最至高无上的要素。</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap8 right-img-left-content">
        <div class="left-content">
            <h2>瑞士品质</h2>
            <p>自始至终，不管是对消费者还是对我们的员工或合作伙伴， 我们都将创意和价值观奉为最至高无上的要素。
            </p>
        </div>
        <img src="__IMG__/who-we-are/12.jpg" />
        <div class="cf"></div>
    </div>

    <div class="wrap8 left-img-right-content">
        <img src="__IMG__/who-we-are/13.jpg" />
        <div class="right-content">
            <h2>欧洲血统</h2>
            <p> 瑞士一直都是欧洲跳动的心脏，连接着语言、文化和创新。我们的欧洲血统让我们拥有无穷的文化价值， 我们也非常乐于与您分享。</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="banner">
        <img class="width100" src="__IMG__/who-we-are/6.jpg" />
        <div class="bg-description">
            <p>生活中，你会看到许许多多的标志。有一种标志，它像你的家人朋友般懂你。<br /> 懂你向往随性，自在，无忧无虑，不想去遵守太多的计划性，尽情享受各种精彩的可能。 </p>
            <p> 对于我们来说，这个标志，绝不仅仅是一个符号<br /> 它代表你向往的生活，而生活的背后更是我们对你的用心和关爱！<br /> 每当你看到这个标志，你就知道我们正在守护着你所在乎的一切，持之以恒，兢兢业业。 </p>
            <p> 每当你看到这个标志，你会不经意地放下所有顾虑。<br /> 因为你知道它代表着最严苛的国际标准，最专业的态度和要求。 </p>
            <p> 每当你看到这个标志，你会知道每一件商品的来龙去脉，因为我们自制自营，<br /> 并且获得了国际认证的可追踪标志， 每个环节都经得起追踪和检验。 </p>
            <p> 每当你看到这个标志，你还会感到平淡和无聊吗？！<br /> 我们每两年就会针对60%的产品进行更新换代，让你尽情尽享，肆意生活。 </p>
            <p> 这个标志就是欧瑞家，<br /> 把欧洲的品味生活和严苛的瑞士品质带回家。 </p>
            <p> 这种自在的购物体验和随性的生活乐趣，<br /> 你一定会爱上它，信赖它，享受它！ </p>
            <p> 因为在欧瑞家 我们尽心，你尽兴</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="wrap8 left-img-right-content-5">
        <img src="__IMG__/who-we-are/7.jpg" />
        <div class="right-content">
            <h2>orange garten的体验</h2>
            <p>Orange Garten真实存在于瑞士，它的灵感来自于Gottlieb Duttweiler曾经住过的一个花园， 现在这个花园已经变成品牌历史、精神和理念的载体。</p>
            <p>它是一个真实存在的花园，在瑞士，苏黎世之外，但它并不是 一个购物场所，它是一个休闲的、 能够让游客体味Migros故事的地方。</p>
        </div>

        <div class="cf"></div>
    </div>

    <div class="wrap8">
        <img class="width100" src="__IMG__/who-we-are/5.jpg" />
        <div class="cf"></div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if (window.document.body.scrollTop >= 300) {
                    $("#header").fadeOut();
                }
                else {
                    $("#header").fadeIn();
                }
            });
        });
    </script>
</block>