<extend name="Public/layout" />

<block name="style">
    <link type="text/css" href="__CSS__/common.css" rel="stylesheet">
</block>

<block name="body">
    <div class="banner">
        <img src="__IMG__/who-we-are/1.jpg"></img>
    </div>

    <div class="title">
        <img src="__IMG__/who-we-are/2.png"></img>
    </div>

    <div class="content">
        <p>
            Orange Garten的故事始于瑞士， 更具体的说是在苏黎世。 1925年，Gottlieb Duttweiler创立了Migros，该公司现拥有600多家店面和10万多名员工， 成为瑞士最大的零售公司。 Migros代表着瑞士的价值观，如信任、可靠性、质量、新鲜度、物有所值和可持续性。
            作为Migros的一部分，Orange Garten也致力于坚持这些价值观。
        </p>
        <p>
            Orange Garten的故事始于瑞士， 更具体的说是在苏黎世。 1925年，Gottlieb Duttweiler创立了Migros，该公司现拥有600多家店面和10万多名员工， 成为瑞士最大的零售公司。 Migros代表着瑞士的价值观，如信任、可靠性、质量、新鲜度、物有所值和可持续性。
            作为Migros的一部分，Orange Garten也致力于坚持这些价值观。
        </p>
    </div>
    <div class="title">
        <img src="__IMG__/who-we-are/2.png"></img>

    </div>
    <div class="left-img-right-content">
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="right-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="right-img-left-content">
        <div class="left-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="cf"></div>
    </div>
    <div class="left-img-right-content">
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="right-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="right-img-left-content">
        <div class="left-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="cf"></div>
    </div>
    <div class="left-img-right-content">
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="right-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <div class="cf"></div>
    </div>

    <div class="right-img-left-content">
        <div class="left-content">
            <h2>责任</h2>
            <p>我们对待每一个细节都秉持着透明和负责的原则，为不断改进我们所做的工作而努力。 我们高度致力于为我们以及我们的子孙后代提供可持续</p>
        </div>
        <img src="__IMG__/who-we-are/4.jpg" />
        <div class="cf"></div>
    </div>
</block>

<block name="script">

    <script type="text/javascript">
        $(function () {

        });
    </script>
</block>