<extend name="Public/base" />

<block name="body">
	<div class="main-title">
		<h2>
			编辑分类 [
			<notempty name="breadcrumb">
				<volist name="breadcrumb" id="nav">
					<a <if condition="$nav['id'] eq 0">href="{:U('index')}"<else />href="{:U('index','pid='.$nav['id'])}"</if>>{$nav.title}</a>
					<if condition="count($breadcrumb) gt $i"><i class="ca"></i></if>
				</volist>
				<i class="ca"></i>
			</notempty>
			{$info['title']} ]
		</h2>
	</div>

	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">
				上级分类
			</label>
			<div class="controls">
				<input type="text" class="text input-large" disabled="disabled" value="{$category['title']|default='无'}" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">
				分类名称
			</label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$info.title|default=''}" readonly />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">
				分类标识
			</label>
			<div class="controls">
				<input type="text" class="text input-large" disabled="disabled" value="{$info.name|default=''}" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">
				分类别名
			</label>
			<div class="controls">
				<input type="text" name="nickname" class="text input-large" value="{$info.nickname|default=''}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				网页标题
			</label>
			<div class="controls">
				<input type="text" name="meta_title" class="text input-large" value="{$info.meta_title|default=''}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				关键字
			</label>
			<div class="controls">
				<input type="text" name="keywords" class="text input-large" value="{$info.keywords|default=''}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				描述
			</label>
			<div class="controls">
				<textarea name="description" rows="6" class="input-large" value="{$info.description|default=''}"></textarea>
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				排序
			</label>
			<div class="controls">
				<input type="text" name="sort" class="text input-large" value="{$info.sort|default=0}">
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				是否是终极栏目<span class="must">(只有终极栏目才能添加产品)</span>
			</label>
			<div class="controls">
				<select name="islast" class="input-large">
                     <option value="0" <if condition="$info.islast eq 0">selected</if>>否</option>
					 <option value="1" <if condition="$info.islast eq 1">selected</if>>是</option>
                </select>
			</div>
		</div>

		<div class="form-item">
			<label class="item-label">
				状态<span class="must">(只有正常状态才能添在前台显示)</span>
			</label>
			<div class="controls">
				<select name="status" class="input-large">
                    <option value="0" <if condition="$info.status eq 0">selected</if>>禁用</option>
					<option value="1" <if condition="$info.status eq 1">selected</if>>正常</option>
                </select>
			</div>
		</div>

		<div class="form-item picture">
			<label class="item-label">分类图标</label>
			<div class="controls">
				<a href="javascript:;" class="inputfile btn">上传图片
                    <input class="upload" type="file" name="file" data-limit="1" data-url="{:U('ProductCategory/upload',array('rid'=>0,'source'=>0,'type'=>0))}" multiple>
                </a>
				<input type="hidden" name="picid" value="{$info.cover|default=0}" />
				<div class="progress">
					<div class="progress-bar progress-bar-success"></div>
				</div>
				<div class="picture-wrap">
				</div>
			</div>
		</div>

		<div class="form-item button-wrap">
			<input type="hidden" name="id" value="{$info.id|default=0}">
			<input type="hidden" name="id" value="{$info.pid|default=0}">
			<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>

</block>

<block name="script">
	<script type="text/javascript" src="__JS__/jqUpload/js/vendor/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="__JS__/jqUpload/js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="__JS__/jqUpload/js/jquery.fileupload.js"></script>
	<script type="text/javascript">
		highlight_subnav("{:U('ProductCategory/index')}");

		$(document).on('click', '.del-pic', function () {
			if (confirm("提示: 是否要删除图片?")) {
				var id = $(this).data('id');
				$(this).parent().remove();
			}
		});

		//上传图片
		$(function () {
			$('.upload').fileupload({
				add: function (e, data) {
				},
				change: function (e, data) {
					var limit = $(e.target).data('limit');
					var cur_num = $(e.target).closest('.inputfile').siblings('.picture-wrap').find('img').length;
					if ((limit - cur_num - data.files.length) < 0) {
						alertTips("最多上传 " + ((limit - cur_num) < 0 ? 0 : (limit - cur_num)) + " 张图片", 1500);
					} else {
						$('.upload').fileupload({
							dataType: 'json',
							add: function (e, data) {
								if (data.files[0].size < 2000000) {
									if (/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(data.files[0].name)) {
										data.submit();
									} else {
										alertTips('图片 ' + data.files[0].name + '的类型不正确,图片类型必须是.gif,jpeg,jpg,png中的一种', 1500);
									}
								} else {
									alertTips('图片 ' + data.files[0].name + '大于2M', 1500);
								}
							},
							done: function (e, data) {
								$('.picture-wrap').append('<div><img src="' + data.result['url'] + '"><input type="hidden" name="picid" value= "' + data.result['pic_id'] + '"><a href="javascript:;" class="del-pic" data-id="' + data.result['pic_id'] + '"><i class="myicon r7c4"></i></a></div>');
							},
							progressall: function (e, data) {
								var progress = parseInt(data.loaded / data.total * 100, 10);
								$('.progress-bar').css(
									'width',
									progress + '%'
								).show();
								if (data.loaded == data.total) {
									alertTips('上传成功', 1500, 1);
								}
							}
						});
					}
				}
			});
		});
	</script>
</block>