<extend name="Public/base" />

<block name="body">
	<div class="main-title">
		<h2>{$meta_title}
			<notempty name="breadcrumb">
				[
				<volist name="breadcrumb" id="nav">
					<if condition="count($breadcrumb) eq $i">
						<span>{$nav.title}</span>
						<else />
						<a <if condition="$nav['id'] eq 0">href="{:U('index')}"<else />href="{:U('index','pid='.$nav['id'])}"</if>>{$nav.title}</a>
					</if>
					<if condition="count($breadcrumb) gt $i"><i class="ca"></i></if>
				</volist>
				]
			</notempty>
		</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('add','pid='.$pid)}">新 增</a>
		<a class="btn" href="javascript:;">删 除</a>
		<if condition="$pid neq 0">
			<button class="btn pull-right" onclick="javascript:history.back(-1);return false;">返 回</button>
		</if>
	</div>

	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>分类名称</th>
					<th>分类别名</th>
					<th>排序</th>
					<th>更新时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
					<volist name="list" id="channel">
						<tr class="form-wrap">
							<td>{$channel.id}<input type="hidden" name="id" value="{$channel.id}"></td>
							<td>
								<if condition="$channel.islast eq 0"><a href="{:U('index?pid='.$channel['id'])}">{$channel.title}</a>
									<else />{$channel.title}</if>
								<input type="hidden" name="title" value="{$channel.title}">
							</td>
							<td><input type="text" name="nickname" class="text" value="{$channel.nickname}"></td>
							<td><input type="text" name="sort" class="text input-mini" value="{$channel.sort}"></td>
							<td><span>{$channel.update_time|date="Y-m-d H:i:s",###}</span></td>
							<td>
								<a href="{:U('edit?id='.$channel['id'].'&pid='.$pid)}">编辑</a>
								<a href="{:U('setStatus?ids='.$channel['id'].'&status='.abs(1-$channel['status']))}" class="confirm ajax-get">{$channel.status|show_status_op}</a>
								<a href="{:U('del?id='.$channel['id'])}" class="confirm ajax-get">删除</a>
							</td>
						</tr>
					</volist>
					<else/>
					<td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
			</tbody>
		</table>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav("{:U('ProductCategory/index')}");

		(function ($) {
			$(".data-table").on("focus", "input", function () {
				var id = $(this).closest(".form-wrap").find("[name='id']").val();
				var nickname = $(this).closest(".form-wrap").find("[name='nickname']").val();
				var sort = $(this).closest(".form-wrap").find("[name='sort']").val();
				$(this).data('param', nickname + sort);
			}).on("blur", "input", function () {
				var id = $(this).closest(".form-wrap").find("[name='id']").val();
				var title = $(this).closest(".form-wrap").find("[name='title']").val();
				var nickname = $(this).closest(".form-wrap").find("[name='nickname']").val();
				var sort = $(this).closest(".form-wrap").find("[name='sort']").val();
				if ($(this).data('param') != (nickname + sort)) {
					$.ajax({
						type: 'post',
						url: "{:U('edit',array('pid'=>$pid))}",
						data: { id: id, title: title, nickname: nickname, sort: sort },
						cache: false,
						dataType: 'json',
						success: function (data) {
							if (data.status == 1) {
								updateAlert(data.info, 'alert-success');
								setTimeout(function () { location.href = location.href; }, 500);
							} else {
								updateAlert(data.info);
								setTimeout(function () { $('#top-alert').removeClass('block').slideUp(200); }, 1500);
							}
						}
					});
				}
			});
		})(jQuery);
	</script>
</block>