<extend name="Public/base"/>

<block name="style">
	<link rel="stylesheet" type="text/css" href="__CSS__/myicon.css" media="all">
	<link rel="stylesheet" type="text/css" href="__CSS__/my.css" media="all">
</block>

<block name="body">
	<div class="main-title">
		<h2>{$meta_title}</h2>
	</div>

	<form action="{:U('add')}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">
				产品名称<span class="check-tips">（名称不能为空）</span>
			</label>
			<div class="controls">
				<input type="text" name="title" class="text input-large" value="{$info.title|default=''}">
			</div>
		</div>
		
		<div class="form-item">
			<label class="item-label">上级分类<span class="check-tips"></span></label>
			<div class="controls select">
				<select class="input-large" name="catId" size="6">
					{:R('Product/tree', array($tree))}
				</select>
			</div>
		</div>
			
		<div class="form-item">
			<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav("{:U('Product/index')}");
	</script>
</block>
