#header {
    position: fixed;
    z-index: 1000;
    top: 0;
}

#footer {
    position: fixed;
    z-index: 1000;
    bottom: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    background: #fff;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #ee5322;
    border-color: #ee5322;
}

#fp-nav ul li,
.fp-slidesNav ul li {
    margin: 16px 7px;
}

.fp-controlArrow.fp-prev {
    left: 5%;
    width: 79px;
    height: 67px;
    background: url(../images/index/arrow-left.png) no-repeat;
    border-width: 0;
    border-color: none;
}

.fp-controlArrow.fp-next {
    right: 5%;
    width: 79px;
    height: 67px;
    background: url(../images/index/arrow-right.png) no-repeat;
    border-width: 0;
    border-color: none;
}

.section {
    text-align: center;
}

.banner2 {
    background: url(../images/index/banner2/bg.png) 50% 100%;
}

.banner2-wrap {
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 10%;
    overflow: hidden;
    max-height: 733px;
}

.banner2-wrap img {
    position: absolute;
}

.banner2-img-8 {
    left: 0;
    top: 0;
    z-index: 1000;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    max-height: 733px;
}

.banner3 {
    background: url(../images/index/banner3/3.jpg) 50%;
}

.banner3-wrap img {
    position: absolute;
}

.banner3 .pop-layout {
    display: none;
    width: 100%;
    height: 100%;
    background: url(../images/index/banner3/bg.jpg) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 1009;
    padding: 86px 0 41px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.banner3 #pop-click {
    width: 4%;
    cursor: pointer;
}

.banner3 .pop-layout-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner3 .pop-layout-content .close {
    width: 78px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.banner3 .pop-layout-content .left-nav {
    width: 300px;
    margin-left: 100px;
}

.banner3 .pop-layout-content .left-nav li {
    background: url(../images/index/banner3/left-nav/1.png) no-repeat 10px 0;
    height: 100px;
    background-size: 10px 100%;
    outline: 1px solid #fff;
    overflow: hidden;
}

.banner3 .pop-layout-content .left-nav li.first {
    background-size: 10px 50%;
    background-position-y: 100%;
}

.banner3 .pop-layout-content .left-nav li.last {
    background-size: 10px 50%;
}

.banner3 .pop-layout-content .left-nav li a {
    background: url(../images/index/banner3/left-nav/2.png) no-repeat 4px 50%;
    width: 30px;
    height: 100%;
    display: block;
    float: left;
}

.banner3 .pop-layout-content .left-nav li.active a,
.banner3 .pop-layout-content .left-nav li:hover a {
    background-image: url(../images/index/banner3/left-nav/3.png);
    background-position-x: 0;
}

.banner3 .pop-layout-content .left-nav li.active *,
.banner3 .pop-layout-content .left-nav li:hover * {
    color: #fff;
}

.banner3 .pop-layout-content .left-nav li .number {
    height: 100%;
    float: left;
    display: block;
    font-size: 6rem;
    margin-left: 16px;
    line-height: 1;
}

.banner3 .pop-layout-content .left-nav li .description {
    height: 100%;
    display: block;
    float: left;
    line-height: 1;
    padding: 10% 0;
    font-size: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.banner3 .pop-layout-content .banner3-nav-content {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1100;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner4 {
    background: url(../images/index/banner2/bg.png) 50% 100%;
}

.banner4-wrap {
    width: 80%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 10%;
    overflow: hidden;
    max-height: 733px;
    border-radius: 33px;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
}

.banner4-wrap img {
    position: absolute;
}

.banner4-wrap .banner4-img-1 {
    left: 0;
    height: 100%;
}

.banner4-wrap .banner4-img-2 {
    left: 0;
    /* top: 81%; */
    top: 120%;
    z-index: 1000;
}